
<div class="container" ng-controller="crud.controllerPublishers">
<br /><br />
<br /><br />
<h1 align="center"  class="head">Welcome to Qatar Computing Research Institute <br />
  <img src="img/home_banner_network.jpg" width="671" height="191" alt="network"></h1>
  <div class="bg-primary">
  <span><strong><p  align="left"> | &nbsp;&nbsp;&nbsp;Home &nbsp;&nbsp;|&nbsp;&nbsp; Contact Us &nbsp;&nbsp;|&nbsp;&nbsp; About Us &nbsp;&nbsp;|&nbsp;&nbsp; Our Research &nbsp;&nbsp;|&nbsp;&nbsp; Our People &nbsp;&nbsp;|&nbsp;&nbsp; Resources &nbsp;&nbsp;|&nbsp;&nbsp; Join Us</p></strong></span></div>
<h1 align="center" class="panel-footer"><ul><i>CRUD Operation   &nbsp;&nbsp;&nbsp;   (Publisher)</i></ul> </h1>
<style>
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}</style>
<table>
<table width="700">
<tr>
<th>Enter Publisher ID:</th>    <td><input type="text" ng-model="publisher_id"/></td>
</tr>
<tr>
<th>Enter Name:</th>  <td> <input type="text" ng-model="name"/></td>
</tr>
<tr>
<th>Enter Acronym:</th> <td><input type="text" ng-model="acronym"/></td>
</tr>
<tr>
<th>Enter Field:</th>    <td><input type="text" ng-model="field"/></td>
</tr>
<tr>
<th>Enter Category:</th>   <td><input type="text" ng-model="category"/></td>
</tr>
<tr>
<th>Enter Type:</th> <td><input type="text" ng-model="type"/></td></tr></table><br/><br/><br/>


<input class="btn btn-danger" type="submit" name="btnInsert" value="Add" ng-click="insertdata()"/>&nbsp;&nbsp;&nbsp;&nbsp;
<input  class="btn btn-warning" type="submit" name="btnUpdate" value="Update" ng-click="updatedata()"  />&nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-danger" type="submit" name="btnDelete" value="Delete" ng-click="deletedata()" />&nbsp;&nbsp;&nbsp;&nbsp;

</form><br /> <br />
<div class="panel-footer">
<strong><h4>Search Publisher by any Field: </h4></strong>&nbsp;<input class="panel-footer" type="text" ng-model="searchBox"><br />
</div><br /><br />
<table class="table">
    <th>Publishers</th>
    <th>Name</th>
    <th>Acronym</th>
    <th>Field</th>
    <th>Category</th>
    <th>Type</th>

  <tr ng-repeat="x in names | filter: searchBox">
    <span><td>{{ x.publisher_id }}</td></span>
    <span><td>{{ x.name }}</td></span>
    <span><td>{{ x.acronym }}</td></span>
    <span><td>{{ x.field }}</td></span>
    <span><td>{{ x.category }}</td></span>
    <span><td>{{ x.type }}</td></span>
  </tr>
</table><br />
</div>
