<div ng-controller="maincontroller">
<h1 align="center"  class="head">Welcome to Qatar Computing Research Institute <br />
  <img src="img/home_banner_network.jpg" width="671" height="191" alt="network"></h1>
  <div class="bg-primary">
  <span><strong><p  align="left"> | &nbsp;&nbsp;&nbsp;Home &nbsp;&nbsp;|&nbsp;&nbsp; Contact Us &nbsp;&nbsp;|&nbsp;&nbsp; About Us &nbsp;&nbsp;|&nbsp;&nbsp; Our Research &nbsp;&nbsp;|&nbsp;&nbsp; Our People &nbsp;&nbsp;|&nbsp;&nbsp; Resources &nbsp;&nbsp;|&nbsp;&nbsp; Join Us</p></strong></span></div>
<h1 align="center" class="panel-footer"><ul><i>Database Queries</i></ul> </h1>
<style>
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}</style>

<h2>About QCRI</h2>
<p>Qatar Computing Research Institute (QCRI) is a national research institute, established in 2010 by Qatar Foundation for Education, Science and Community Development, a private, non-profit organization that is supporting Qatar’s transformation from carbon economy to knowledge economy.  QCRI operates under the umbrella of Hamad bin Khalifa University.
QCRI supports Qatar Foundation’s mission by helping to build Qatar’s innovation and technology capacity. It is focused on tackling large-scale computing challenges that address national priorities for growth and development.
In doing this, QCRI conducts world-class multidisciplinary computing research that is relevant to the needs of Qatar, the wider Arab region, and the world. We perform cutting-edge research in such areas as Arabic language technologies, social computing, data analytics, distributed systems, cyber security and computational science and engineering.
The research we conduct at QCRI is aligned with the Qatar National Research Strategy, and supports the strategic priorities outlined in Qatar National Vision 2030.</p>
<br /><br />
<h1 align="center" class="panel-footer"><ul><i>Database QCRI Staff Members</i></ul> </h1>
<p align="center">
  <br /><br /><br />
<input class="btn btn-primary" type="submit" name="btnDisplay" value="Qatar Computing Research Institute Staff Members +" ng-click="navigateToPage('/StaffDisp')" /> &nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-danger" type="submit" name="btnDisplay" value="CRUD Operation For Database +" ng-click="navigateToPage('/CRUD')" /><br /><br /><br /><br />
<br /></p>
<h1 align="center" class="panel-footer"><ul><i>Database Institute</i></ul> </h1>
<p align="center">
  <br /><br /><span>
<input class="btn btn-primary" type="submit" name="btnDisplay" value="Qatar Computing Research Institute  +" ng-click="navigateToPage('/InstituteDisp')" /> &nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-danger" type="submit" name="btnDisplay" value="CRUD Operation For Institute +" ng-click="navigateToPage('/CRUDInstitute')" /><br /><br /><br /><br />
<br /></p></span>
<h1 align="center" class="panel-footer"><ul><i>Database Publication Author</i></ul> </h1>
<p align="center">
  <br /><br />
<input class="btn btn-primary" type="submit" name="btnDisplay" value="Qatar Computing Research Institute Publication Authors +" ng-click="navigateToPage('/PublicationAuthorStaffDisp')" /> &nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-danger" type="submit" name="btnDisplay" value="CRUD Operation Publication Author +" ng-click="navigateToPage('/CRUDPublicationAuthor')" /><br /><br /><br /><br />
<br /></p>
<h1 align="center" class="panel-footer"><ul><i>Database Publisher</i></ul> </h1>
<p align="center">
  <br /><br />
<input class="btn btn-primary" type="submit" name="btnDisplay" value="Qatar Computing Research Institute Publisher +" ng-click="navigateToPage('/PublishersDisp')" /> &nbsp;&nbsp;&nbsp;&nbsp;
<input class="btn btn-danger" type="submit" name="btnDisplay" value="CRUD Operation For Database +" ng-click="navigateToPage('/CRUDPublishers')" /><br /><br /><br /><br />
<h1 align="center" class="panel-footer"><ul><i>Database Publication</i></ul> </h1>
<p align="center">
  <br /><br />
  <input class="btn btn-primary" type="submit" name="btnDisplay" value="Qatar Computing Research Institute Staff Members +" ng-click="navigateToPage('/PublicationsDisp')" /> &nbsp;&nbsp;&nbsp;&nbsp;
  <input class="btn btn-danger" type="submit" name="btnDisplay" value="CRUD Operation For Database +" ng-click="navigateToPage('/CRUDPublications')" /><br /><br /><br /><br />

</p>
</div>
