<div class="container" ng-controller="Publications.controller">
<br /><br />
<h1 align="center"  class="head">Welcome to Qatar Computing Research Institute <br />
  <img src="img/home_banner_network.jpg" width="671" height="191" alt="network"></h1>
  <div class="bg-primary">
  <span><strong><p  align="left"> | &nbsp;&nbsp;&nbsp;Home &nbsp;&nbsp;|&nbsp;&nbsp; Contact Us &nbsp;&nbsp;|&nbsp;&nbsp; About Us &nbsp;&nbsp;|&nbsp;&nbsp; Our Research &nbsp;&nbsp;|&nbsp;&nbsp; Our People &nbsp;&nbsp;|&nbsp;&nbsp; Resources &nbsp;&nbsp;|&nbsp;&nbsp; Join Us</p></strong></span></div>
<h1 align="center" class="panel-footer"><ul><i>Qatar Computing Research Institute (Publication)</i></ul> </h1>
<style>
p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}</style>
<br /> <br />

<div class="panel-footer">
<strong><h4>Search Student by id, name or course no here: </h4></strong>&nbsp;<input class="panel-footer" type="text" ng-model="searchBox"><br />
</div><br /><br />

<table class="table">
    <th>Publication ID</th>
    <th>Title</th>
    <th>Group</th>
    <th>Join Groups</th>
    <th>Year</th>
    <th>Publishers ID</th>
    <th>Citation Count</th>
    <th>Page Count</th>
    <th>Link</th>
    <th>Status</th>

  <tr ng-repeat="x in names | filter: searchBox">
    <span><td>{{ x.publication_id }}</td></span>
    <span><td>{{ x.title }}</td></span>
    <span><td>{{ x.group }}</td></span>
    <span><td>{{ x.joint_groups }}</td></span>
    <span><td>{{ x.year }}</td></span>
    <span><td>{{ x.publisher_id }}</td></span>
    <span><td>{{ x.citation_count }}</td></span>
    <span><td>{{ x.pages_count }}</td></span>
    <span><td>{{ x.link }}</td></span>
    <span><td>{{ x.status }}</td></span>
  </tr>
</table><br />
</div>
